@import "font-awesome";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

.navbar {
  background-color: rgba(255, 255, 255, 1);
  border: none;

  .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
  }

  .navbar-header {
    .navbar-text {
      margin-left: 0px;

      .h1 {
        margin-bottom: 0px;
      }
    }
  }
}

