@import "font-awesome";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

.navbar {
  background-color: rgba(255, 255, 255, 1);
  border: none;

  .container-fluid {
    padding-left: 150px;
    padding-right: 150px;

    @media (max-width: 992px) {
      padding: 0px;
    }
  }

  .navbar-brand {
    height: 100%;
  }

  .navbar-text {
    margin-left: 0px;

    .h1 {
      margin: 0px;
    }

    .h6 {
      @media(max-width: 442px) {
        display: none;
      }
    }
  }
}

